PROJECT_NAME=Musicdy
API_V1_STR=/api/v1
SECRET_KEY=CHANGE_THIS_IN_PRODUCTION
ACCESS_TOKEN_EXPIRE_MINUTES=30

POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=musicdy

STRIPE_API_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

MERCADOPAGO_ACCESS_TOKEN=TEST-...
MERCADOPAGO_PUBLIC_KEY=TEST-...
